.venv
.ipynb_checkpoint
.ipynb_checkpoints
.virtual_documents
__pycache__
music
audios
2_mp3_to_text.json
.env
chromadb
faiss_data
Dataset
*.pkl
mlruns
mlartifacts
.continue
.gradio
*.h5
logs
.env
*.pdf
faiss_index
*.db
*.tflite
*.task
*.pt
Thumbs-up-&-Thumbs-down-3
train
train-2