<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="\form" method="post">
        <input type="email" name="email" placeholder="Email">
        <br>
        Select  A4000 Variant
        <br>
        <select name="variant" id="">
        <option value="us-variant">US Variant</option>
        <option value="non-us-variant">Non US Variant</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>