aiohappyeyeballs
aiohttp
aiosignal
alpaca-py
annotated-doc
annotated-types
anyio
asttokens
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
click
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
dotenv
et_xmlfile
executing
fastapi
fonttools
frozenlist
greenlet
h11
httpcore
httpx
httpx-sse
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
jsonpatch
jsonpointer
jupyter_client
jupyter_core
kiwisolver
langchain
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
marshmallow
matplotlib
matplotlib-inline
msgpack
multidict
mypy_extensions
narwhals
nest-asyncio
numpy
openpyxl
orjson
ormsgpack
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pydantic
pydantic-settings
pydantic_core
Pygments
pyparsing
pypdf
python-dateutil
python-dotenv
pytimeparse
pytz
PyYAML
pyzmq
requests
requests-toolbelt
six
sniffio
soupsieve
SQLAlchemy
sseclient-py
stack-data
starlette
tenacity
tornado
traitlets
twelvedata
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
websockets
xxhash
yarl
zstandard
arxiv
pymupdf
wikipedia
langchain-text-splitters
seaborn
chromadb
sentence_transformers
langchain_huggingface
numpy
